<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up page</title>
</head>

<body>
    <h1>Sign Up Page</h1>
    <form class="form" method="post" action="/user"> <!-- Post to /user route -->
        <label>Full Name</label>
        <input type="text" required name="name">
        <label>Email</label>
        <input type="email" required name="email">
        <label>Password</label>
        <input type="password" required name="password">
        <button type="submit" class="btn">Sign Up</button>
    </form>
</body>

</html>
